<style type="text/css">
  .channel {
    background-color: #fff;
    border-bottom: 10px solid #f5f5f5;
    position: relative;
  }  
</style>
<section class="channel">
  <div class="channel-header">
    <p class="header-text">
      重磅推荐<i>推</i>
    </p>
    <div class="header-tab">
      <a href="javascript:">男</a>
      <a href="javascript:">女</a>
    </div>
  </div>
  <ul class="book-list">
    <li>
      <div class="book-cover have-image">
        <div class="cover-image">
          <img src="http://cover.read.duokan.com/mfsv2/download/fdsc3/p017io4EIZgP/tK1TkKVduNMK7w.jpg" alt="封面图">
          <p class="image-info">已完结</p>
        </div>
        <div class="cover-info">
          <p class="info-title">书名</p>
          <p class="info-author">作者</p>
          <p class="info-summary">简介</p>
          <div class="info-tag">
            <span>标签</span>
            <ul class="tag-group"></ul>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="book-cover no-image">
        <span class="book-order">01</span>
        <div class="cover-info">
          <p class="info-title">书籍名称</p>
        </div>
      </div>
    </li>
    <li></li>
  </ul>
</section>