<style>
  .channel-footer {
    border-top: 1px solid #f0f0f0;
    overflow: hidden;
  }
  .channel-footer > a {
    float: left;
    width: 50%;
    padding: 14px;
    font: 13px/1.3em a;
    color: rgba(0, 0, 0, 0.9);
    text-align: center;
    box-sizing: border-box;
  }
  .channel-footer > a:first-child {
    border-right: 1px solid #f0f0f0;
  }

</style>

<section class="re-channel">
  <div class="channel-header">
    <p class="header-text">
      女生最爱<i class="text-icon">推</i>
    </p>
    <div class="re-header-tab">
      <a href="javascript:" class="current">男</a>
      <a href="javascript:">女</a>
    </div>
  </div>
  <div class="channel-body">
    <ul class="book-list">
      <li>
        <div class="book-cover have-image">
          <div class="cover-image">
            <img src="http://cover.read.duokan.com/mfsv2/download/fdsc3/p017io4EIZgP/tK1TkKVduNMK7w.jpg" alt="封面图">
            <p class="image-info">已完结</p>
          </div>
          <div class="cover-info">
            <p class="info-title">阅尽千帆皆不是</p>
            <p class="info-author">作者</p>
            <p class="info-summary">阅尽天涯离别苦,不道归来,零落花如许。花底相看无一语,绿窗春与天俱莫。 待把相思灯下诉,一缕新欢,旧恨千千缕。最是人间留不住,朱颜辞镜花辞树.</p>
            <div class="info-tag">
              <div class="tag-group">标签</div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="book-cover no-image">
          <p class="n-book-order">01</p>
          <p class="n-book-title">老九门</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="channel-footer">
    <a href="javascript:">换一换</a>
    <a href="/male">男生频道</a>
  </div>
</section>