<style>
  .channel-free {
    position: relative;
  }
  .free-header {
    position: relative;
    padding: 10px 14px;
    border: 1px solid #f0f0f0;
    border-left: 6px solid #ffab18;
  }
  .free-header-title {
    font-size: 16px;
    font-weight: 400;
    color: #333;
  }
  /* 在这里解决一下关于 display: inline-block 的间距问题 ; */
  .free-table {
    padding-top: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 0;
    letter-spacing: -4px;
    word-spacing: -4px;
  }
  .free-table li {
    margin-bottom: 8px;
    display: inline-block;
    width: 33.3%;
    vertical-align: top;
    line-height: 100%;
    font-size: 16px;
    word-spacing: normal;
    letter-spacing: normal;
  }
  .f-cover-group {
    width: 100%;
    text-align: center;
  }
  .free-table .f-book-cover {
    position: relative;
    display: inline-block;
    width: 86px;
    height: 113px;
    overflow: hidden;
    background-color: #eeece9;
    box-shadow: 0px 6px 5px -3px #aaa;
    border: 1px solid #f0f0f0;
    border-bottom: none;
    overflow: hidden;
  }
  .f-book-cover img {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  .f-cover-group .f-book-info {
    padding-top: 5px;
  }
  .f-cover-group .f-book-info h3 {
    font-size: 13px;
    line-height: 1.4em;
    max-height: 2.8em;
    overflow: hidden;
    color: #8d8d8d;
    margin-bottom: 0;
  }
  .free-tag {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    line-height: 20px;
    /*background-color: #ef6c2c;*/
    background-color: #49ab3f;
    color: #fff;
    font-size: 14px;
    text-align: center;
    -webkit-transform-origin: top center;
    -webkit-transform: translateX(50%) rotate(45deg) translateY(50%) scale(0.8);
    letter-spacing: 3px;
  }
  .free-tag::before {
    content: '\9650\514d';
  }
  .free-footer {
    display: block;
    border: 1px solid #f0f0f0;
    padding: 19px 0;
    text-align: center;
    font-size: 14px;
  }
</style>

<section class="channel-free">
  <div class="free-header">
    <h2 class="free-header-title"></h2>
  </div>
  <ul class="free-table">
    <li>
      <div class="f-cover-group">
        <div class="f-book-cover">
          <img src="http://cover.read.duokan.com/mfsv2/download/fdsc3/p01dPLkOR74A/57udXizyRl6Oun.jpg!s" alt="">
          <div class="free-tag"></div>
        </div>
        <div class="f-book-info"><h3>书籍名称</h3></div>
      </div>
    </li>
    <li>
      <div class="f-cover-group">
        <div class="f-book-cover">
          <img src="http://cover.read.duokan.com/mfsv2/download/s010/p01wTsEyyzYm/hLCNZHYcvGYGoW.jpg!s" alt="">
          <div class="free-tag"></div>
        </div>
        <div class="f-book-info"><h3>书籍名称</h3></div>
      </div>
    </li>
    <li>
      <div class="f-cover-group">
        <div class="f-book-cover">
          <img src="http://cover.read.duokan.com/mfsv2/download/s010/p01B2O2f7y3i/qzzf79mAWessPg.jpg!s" alt="">
          <div class="free-tag"></div>
        </div>
        <div class="f-book-info"><h3>书籍名称</h3></div>
      </div>
    </li>
    <li>
      <div class="f-cover-group">
        <div class="f-book-cover">
          <img src="http://cover.read.duokan.com/mfsv2/download/s010/p01B2O2f7y3i/qzzf79mAWessPg.jpg!s" alt="">
          <div class="free-tag"></div>
        </div>
        <div class="f-book-info"><h3>书籍名称</h3></div>
      </div>
    </li>
  </ul>
  <a href="/free" class="free-footer">更多限免佳作&gt;&gt;</a>
</section>