<section class="top-home">
<!-- 搜索 -->
  <a href="/search">
    <div class="home-search">输入书名/作者/关键字</div>
  </a>
<!-- 轮播页 -->
  <div class="slider-banner">
    <div>
      <a href="http://dushu.xiaomi.com/#page=channel&id=410">
        <img src="" alt="">
        <div>123</div>
      </a>
    </div>
  </div>
<!-- 横向列表标签 -->
  <ul></ul>
</section>

<style>
  .top-home {
    background-color: #fff;
    border-bottom: 10px solid #f5f5f5;
  }
  .home-search {
    margin: 10px 13px;
    padding: 1px 0 0 30px;
    color: rgba(0, 0, 0, 0.4);
    background-position: center; 
    /*background-size: 14px;*/
    /*此处需要一张背景图*/
    border: 1px solid #f5f5f5;
    border-radius: 2px;
    font: 12px/23px arial;
  }
</style>